DB_USER = user
DB_PASSWORD = password
DB_DATABASE = raizes_do_nordeste
DB_PORT=3306
DB_HOST=mysql
EMAIL_HOST=seu_email
EMAIL_PW=senhaemail(pode ser de app)

SECRET_KEY=sua_chave
SECRET_KEY_REFRESH=chave_refresh
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30
